.App {
  background-color: #EDFFDE;
}
body{
  background-color: #F6F9ED;
}
.header{
  position: absolute;
  background-color: grey;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5%;
}
h1{
  color: #F6F9ED;
  text-align: center;
  font-size: 90%;
}
@media (max-width: 375pt){
  .maincont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
