/* *,
*:before,
*:after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */
.title{
  margin: 7px 9px;
  text-align: center;
  color: #fff;
  font-size: 6vw;
  font-family: 'Playfair';
  text-shadow: 1.8px 2.1px #9BD4BE;
}
.subtitle{
  color: #4B69E6;
  font-size: 2vw;
}
.container{
  /* background: white;
  margin: 0 125px 0 125px;
  padding: 0 5px 0 5px;
  text-align: center; */
  display: flex;
  flex-direction: column;
}




/* nav{
  margin: 0;
  padding: 0;
  background: #16D98E;
  position: sticky;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 90px;
  display: flex;
  align-items: center;
  box-shadow: 1 7px 5px 0 rgba(11, 7, 3, .2);
  z-index: 3;
} */

/* .headshot{
  width: 100%;
}
.shotcontainer{
  margin: 0;
  width: 80px;
  height: 100%; */
  /* border-radius: 50%; */
  /* overflow: hidden;
  position: relative;
  left: 1175px; */
/* } */
/* .title-div{
  background-image: url('/Users/oduainemiller/dev/web_dev_portfolio/public/titlebackground.jpg');
  background-size: cover;
  background-position: center;
} */
/* h1{
  font-family: 'Playfair Display';
}
h2{
  font-family: 'Playfair Display';
} */
html,body{
margin: 0;
padding: 0;
overflow-x: hidden;
  /* background-color: #F6F9ED; */
}
nav{
  position: sticky;
}
.navbar{
  background-color: #472921;
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
}
.l{
  margin-right: 20px;
  color: #fff;
  font-size: 3vw;
  text-decoration: none;
}
.z-image{
  width: 100%;
}
.maincont{
  background-color: #16D98E;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
/* background-image: url('/Users/oduainemiller/dev/web_dev_portfolio/public/71.jpg'); */

height: 100vh;
/* width: 1000px; */
/* margin: 0 100px 0 100px;
padding: 0 5px 0 5px; */

}
.firstsec{
  background-image: linear-gradient(#472921 5%, #fff 87%);
  /* background-color: #16D98E; */
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.landingimgcnt{
  width: 30%;
  /* min-width: 30%; */
  /* position: sticky; */
}
.landingimg{
  /* height: 26vh; */
  width: 100%;
  margin: 0;
  padding: 0;
}
.toprestdiv{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.techicons{
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
}

.tekicons{
  width: 17%;
  margin: 5px 5px;
}
.slidersec{
  width: 100%;
  background-image: linear-gradient(#fff 2%, #AB9DB3 85%, #fff);
  /* background-color: #16D98E; */
/* background-image: radial-gradient(#AA5147, #CF5147); */
 display: flex;
 flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.slidercontentdiv{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 30%;
  margin: 0;
  padding-left: 10px;
}
.backlight{
  position: absolute;
  width: 300px;
  height: 420px;
  background-image:linear-gradient(to bottom, rgba(255,214,170), rgba(0,0,0,0) 44%), ;
  transform: skewX(26deg);
  z-index: 20;

}
.slidertitlediv{
  height: 26vh;
  overflow: hidden;
  margin-bottom: 4px;
}
.slidersectitle{
  width: 90%;
  /* margin-bottom: -350px; */
  position: relative;
  z-index: 10;
}
.slidersec-content{
  line-height: 2em;
  font-weight: bold;
  /* -webkit-text-stroke: 3px #9A8DA1; */


  /* margin-right: 12px; */
  font-family: 'Quicksand';
  width: 100%;
  height: 100%;
  margin: 3px 10px 0 0;
  font-size: 1.7vw;
}
.sliderdiv{
  margin: 0 7px;
  padding: 0;
  width: 60vw;
  box-shadow: -10px 10px 7px black;


}
.slides{
margin: 0;
}

.contactsec{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#F7F0A1 30%, #fff);
}
.contactcontent{
  width: 30%;
  border-radius: 7px;
  border: 2px solid orange;
}
.contactcontent:hover{
  background-color: orange
}
.contact-title{
  font-size: 100%;
  color: orange;
  text-align: center;
}
.contact-title:hover{
  color: #fff;
}
.contactimgdiv{
  width: 50%;
}
.contactimg{
width: 100%;}
.aboutcontainer{
  background-color: tan;
  height: 100%;
  /* display: flex; */
  /* flex-wrap: wrap; */

}
.aboutbody{
  display: flex;
  justify-content: space-around;
}
.aboutpic{
  width: 30vw;
}
.aboutpicdiv{
  margin-left: 7px;
  border-radius: 7px;
  overflow: hidden;
  width: 48vw;
  height: 75vh;
}
.abouttemptext{
  margin-top: -20px;
  font-size: 8vw;
  text-align: center;
  /* margin-right: 100px; */
  /* align-self: center; */
}
.biodiv{
  width: 48vw;
  height: 100%;
  display: flex;
  justify-content: center;
  line-height: 2em;
  margin-top: -28px;
}
.toughchatsec{
  height: 100vh;
}
.mascottcont{
  position: relative;

}
.mascottbody{
  position: absolute;
  width: 40%;
  z-index: 3;
}
.mascottleftarm{
  position: absolute;
  width: 40%;

}
.mascottrightarm{
  position: absolute;
  width: 40%;
  left: 400px;
  top: 130px;
  transform: rotate(23deg);
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: rightarm;
}
@media only screen and (max-height: 700px) and (min-width: 550px){
  .firstsec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

  }
  .landingimgcnt{
    width: 11%;
    height: 35%;
  }
  .techicons{
    width: 100%;
    /* position: absolute; */
  }
  .tekicons{
    width: 5%;
  }
  .subtitle{
    margin: 0;
  }
  .slidersec{
    justify-content: center;
    height: 270vh;
    padding-bottom: 0;
  }
  .title{
    font-size: 5vw;
  }
  .toprestdiv{
    width: 100%;
    height: 40%;
 }
  .slidercontentdiv{
    width: 100%;
    height: 10vh;
  }
  .slidersectitle{
    font-size: 6vw;
    text-shadow: 1.8px -2px #0C9BAD;
  }
  .slidersec-content{
    text-align: center;
  }
  .sliderdiv{
    width:100%;
    box-shadow: none;
    align-self: flex-end;
    margin-bottom: 0;

  }
  .contactsec{
    height: 100vh;
  }
  .contactimgdiv{
    width: 30%;
    /* height: 35%; */
    /* border: 1px solid orange; */
  }
  .contactimg{
    width: 100%;
  }
}

@keyframes rightarm {
  50%{
    transform: rotate(-11deg) translate(0,-200px);
  }
  80%{
    transform: rotate(11deg);
  }
  100%{

  }
}
@media only screen and (max-width: 700px) and (min-height: 400px){
  /* max-width: 768px originally */
  .firstsec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  .landingimgcnt{
    align-self: center;

  }
  .toprestdiv{
    margin: 0;
    width: 100%;
  }
  .slidersec{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    background-image: linear-gradient( #AB9DB3 5%, #fff);

  }
  .slidercontentdiv{
    width: 100%;
    height: 50vh;
    padding: 0 3px;

    /* border: 1px solid orange; */
    flex-direction: column;
    justify-content: center;
  }
  .slidertitlediv{
    height: 55vh;
    display: flex;
    justify-content: center;
  }
  .slidersectitle{
    width: 100vw;
    height: 67vh;
  }
  .slidersec-content{
    width: 100%;
    height:100%;
    text-align: center;
    font-size: 3.4vw;
    /* padding-top: 55px; */
    line-height: 1.6em
  }
  .sliderdiv{
    margin-bottom: -4px;
    padding: 0;
    align-self: flex-end;
    width: 100%;
    box-shadow: 0px 0px black;
    margin-left: 0;
  }
  .contactsec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contactcontent{
    width: 30%;
    align-self: center;
    border: 2px solid orange;
    text-align: center;
  }
  .aboutcontainer{
    height: 100%;
  }
  .abouttemptext{
    margin-top: 7px;
  }
  .aboutbody{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .aboutpicdiv{
    width: 85%;
  }
  .aboutpic{
    width: 100%;
  }
  .biodiv{
    width: 85%;
    height: 100%;
    margin-top: 6px;
    text-align: center;
    line-height: 1.5em;
  }
}
/* .header{
  position: absolute;
  background-color: grey;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5%;
  margin-bottom: 10px;
}
h1{
  color: #F6F9ED;
  text-align: center;
  font-size: 100%;
}
h4{
  padding-top: 20px;
  text-align: center;
  padding-left: 3px;
  padding-right: 3px;
}
h5{
  text-align: center;
  padding: 3px;
  color: red;
}
h6{
  font-family: 'courier new';
}
.tnimg{
  width:100%;
}
.nasacaption{
  border: 1px solid black;
  padding: 2px;
  width: 94%;
}
.nasades{
  font-family: 'courier new';
}
.des{
  text-align: center;
}
.navBar button {
  position: fixed;
  left: 40px;
  top: 40px;
  z-index: 10;
  cursor: pointer;
} */


/* @media (max-width: 375pt){
  .maincont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

} */
